.custom-dialog-class .mat-dialog-container {
  transform: translate(-50%, -50%);
}
.spacer {
  flex: 1 1 auto;
}
.job-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}

.job-card {
  width: 300px;
}

.chips-row {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

mat-chip.open {
  background-color: #d4edda;
  color: green;
}

mat-chip.closed {
  background-color: #f8d7da;
  color: red;
}
